div.files {
    background-color: whitesmoke;
    border-color: lightblue;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}

div.files table {
    border-collapse: collapse;
    padding: 0px;
}

div.files table tbody td {
    border-spacing: 0px;
    border-top: 1px solid lightblue;
    padding-bottom: 4px;
    padding-top: 4px;
    /* border-image-repeat: stretch; */
}

div.files table tbody tr:first-child td {
    border-top: none;
}

div.files table tbody td.icon {
    padding-left: 3px;
    padding-right: 2px;
}

div.files table tbody td.name {
    padding-left: 10px;
    padding-right: 10px;
}