<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" href="/static/base.css">
      <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    {% endblock body %}
  </body>
</html>
