{% extends "base" %}
{% block title %} {{ owner }}/{{ name }} {% endblock title %}
{% block head %}
  {{ super() }}
{% endblock head %}
{%block body%}
  <h1>{{ owner }}/{{ name }}</h1>
  <ul>
    {# {{ tree | sort }} #}
    {# {{ tree | sort(attribute="is_file") }} #}
    {% for entry in tree | filter(attribute="is_dir", value=true) %}
      <li>📁 {{ entry.name }}</li>
    {% endfor %}
    {% for entry in tree | filter(attribute="is_file", value=true) %}
      <li>📄 {{ entry.name }}</li>
    {% endfor %}
    {% for entry in tree | filter(attribute="is_dir", value=false) | filter(attribute="is_file", value=false) %}
      <li>⁉ {{ entry.name }}</li>
    {% endfor %}
  </ul>
{%endblock body%}
