{% extends "base" %}
{% block title %} {{ owner }}/{{ name }} {% endblock title %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/repository.css">
{% endblock head %}
{%block body%}
  <h1>{{ owner }}/{{ name }}</h1>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in tree | sort(attribute="kind") %}
        <tr>
          <td>
            {% if entry.kind == 1 %}
              📁
            {% elif entry.kind == 2 %}
              📄
            {% else %}
              ⁉
            {% endif %}
          </td>
          <td>{{ entry.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%endblock body%}
