{% extends "base" %}
{% import "header" as header %}

{% block title %} {{ username }} {% endblock title %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/user.css">
  {{ header::header_head() }}
{% endblock head %}
{%block body%}
  {{ header::header() }}
  <h1>{{ username }}</h1>
  {% for repository in repositories %}
    <a href="~{{ username }}/{{ repository.name }}">{{ repository.name }}</a>
  {% endfor %}
{%endblock body%}
